<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/A-LOGO.png')}}">
{% include 'ADMINISTRADOR/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/loader.png')}}" alt="LOGO"
              height="60" width="60" />
          </div>
        <!-- Navbar -->
        {% include 'ADMINISTRADOR/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'ADMINISTRADOR/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content mt-4">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="card-title">Asistencia de operadores</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Edad</th>
                                    <th>Telefono</th>
                                    <th>Auxiliar</th>
                                    <th>Placas</th>
                                    <th>Estado</th>
                                    <th>Fecha</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in asistencia %}
                                <tr>
                                    <td>{{ dato.nombre}}</td>
                                    <td>{{ dato.edad}}</td>
                                    <td>{{ dato.telefono}}</td>
                                    <td>{{ dato.auxiliar}}</td>
                                    <td>{{ dato.placas}}</td>
                                    <td>{{ dato.estado}}</td>
                                    <td>{{ dato.fecha}}</td>
                                    <td>{{ dato.inicio}}</td>
                                    <td>{{ dato.fin}}</td>
                                    
                                {% endfor %}
                            </tbody>


                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include 'ADMINISTRADOR/modulos/footer.html' %}
        {% include 'ADMINISTRADOR/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'ADMINISTRADOR/modulos/scripts.html' %}
</body>

</html>