<!DOCTYPE html>
<html lang="es">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/A-LOGO.png')}}">
{% include 'SUPERADMIN/modulos/header.html' %}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <div class="preloader flex-column justify-content-center align-items-center">
      <img class="animation__wobble" src="{{ url_for('static', filename = 'dist/img/icons/loader.png')}}" alt="LOGO"
        height="60" width="60" />
    </div>
    <!-- Navbar -->
    {% include 'SUPERADMIN/modulos/nav-bar.html' %}
    <!-- /.navbar -->
    {% include 'SUPERADMIN/modulos/menu.html' %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="container mt-4">
        <div class="row">
          <div class="col">
            <!-- small box -->
            <div class="small-box bg-default shadow">
              <div class="inner">
                <h3><sup style="font-size: 10px"></sup></h3>
                <p><strong>Total de administradores</strong></p>
                <h3>{{Admin}}</h3>
              </div>
              <div class="icon">
                <i class="fa fa-solid fa-user-tie"></i>
              </div>
            </div>
          </div>
          <!-- small box -->
          <div class="col">
            <div class="small-box bg-dark shadow">
              <div class="inner">
                <h3><sup style="font-size: 20px"></sup></h3>
                <h3 id="fecha"></h3>
                <h4 id="hora"></h4>
                <div class="icon">
                  <i class="fa fa-solid fa-clock" style="color: rgb(255, 255, 255);"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Charts-->
        <!--Dona-->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Rendimiento general</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <canvas id="Dona" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>

    </div>

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Espera que?</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Como llegaste aqui? >:v esta vista solo es para super usuarios&hellip;</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>
      $(document).ready(function () {
        $('#modal-default').modal('toggle')
      })
    </script>

    <!--Libreria chart-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--Script del chart doughnut-->
    <script>
      const ctx = document.getElementById('Dona');

      new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ['Operadores activos', 'Operadores inactivos', 'Auxiliares'],
          datasets: [{
            label: '# ',
            data: [10, 5, 3],
            backgroundColor: [
              'rgb(50,205,50)',
              'rgb(255,0,0)',
              'rgb(32,178,170)'
            ],
            hoverOffset: 4
          }]
        },
        options: {

        }
      });
    </script>

    <!--Script de fecha y hora-->
    <script>
      var udateTime = function () {
        let currentDate = new Date(),
          hours = currentDate.getHours(),
          minutes = currentDate.getMinutes(),
          seconds = currentDate.getSeconds(),
          weekDay = currentDate.getDay(),
          day = currentDate.getDate(),
          month = currentDate.getMonth(),
          year = currentDate.getFullYear();
        console.log(day);
        const dias = [
          'Domingo',
          'Lunes',
          'Martes',
          'Miércoles',
          'Jueves',
          'Viernes',
          'Sabado'
        ];
        const meses = [
          'Enero',
          'Febrero',
          'Marzo',
          'Abril',
          'Mayo',
          'Junio',
          'Julio',
          'Agosto',
          'Septiembre',
          'Octubre',
          'Noviembre',
          'Diciembre'
        ];

        if (minutes < 10) {
          minutes = "0" + minutes
        }

        if (seconds < 10) {
          seconds = "0" + seconds
        }


        var fecha = `${dias[weekDay]} ${day} de ${meses[month]}`;
        var hora = `${hours} : ${minutes} : ${seconds} HRS`;



        document.getElementById('fecha').textContent = fecha;
        document.getElementById('hora').textContent = hora;
      };

      udateTime();
      setInterval(udateTime, 1000);
    </script>
    <!-- /.content-wrapper -->
    {% include 'SUPERADMIN/modulos/footer.html' %}
    {% include 'SUPERADMIN/modulos/side-bar-control.html' %}
  </div>
  <!-- ./wrapper -->
  <!-- jQuery -->
  {% include 'SUPERADMIN/modulos/scripts.html' %}
</body>

</html>